#home, h2 {
 color: cornflowerblue;
 padding-bottom: 1em;
}

#choose-cee-lo {
    float: left;
}

#choose-threes {
    float: right;
}

#choose-cee-lo, #choose-threes {
    margin-top: 3em;
    width: 50%
}

a {
    color: cornflowerblue;
    text-decoration: none;
    font-size: 3em;
}