#roll-button {
    border-radius: 5%;
    padding: 1em;
    justify-content: center;
}

button {
    height: 2em;
    width: 4em;
    color: cornflowerblue;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 1em;
    border-radius: 5%;
    border: 1px solid cornflowerblue;
}

button:focus { outline: none; }